@use "../abstracts/tokens" as token;

// ===================================================
// AXIS ▪︎ BADGE (Structural Component)
// Neutral, token-driven, no color assumptions
// ===================================================

// Semantic Badge Tokens
// ---------------------------------------------------
$font-size-badge:   token.$font-12;
$font-weight-badge: token.$weight-medium;
$line-height-badge: token.$lh-none;
$border-rd-badge:   token.$radius-full;
$padding-badge:     token.$space-6 token.$space-12;
$gap-badge:         token.$space-2;
// ---------------------------------------------------

// == Badge Default ==
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $gap-badge;

  padding: $padding-badge;

  background-color: transparent;
  border: 0.0625rem solid currentColor;
  border-radius: $border-rd-badge;

  font-size: $font-size-badge;
  font-weight: $font-weight-badge;
  line-height: $line-height-badge;
  
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}